.App {
    padding: 10vh;
    font-family: "canada-type-gibson", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.modal {
    text-align: center;
}

.modal a {
    color: black;
    text-decoration: none;
    padding: 1.5vh;
    margin: 3vh;
    border-width: 1px;
    border: solid #ccc;
    border-radius: 1rem;
}

.modal a:hover {
    background-color: #ccc;
}

.crossword-container {
    display: flex;
    width: 100vh;
    margin: auto;
    border-width: 1px;
    border: black;
}

.clue {
    padding: 0.5vh;
}

.timer {
    text-align: left;
    display: flex;
    margin: auto;
    width: 100vh;
    padding: 1vh;
}